In [2]:
list1 = ["first", "second", "third"]

In [6]:
list2 = list((1.0,2,3))

In [5]:
print(list1)
print(list2)

['first', 'second', 'third']
[1, 2, 3]

In [7]:
list3 = ['cake', 4, 7.9, "apple"]

In [8]:
list4 = (1,2,3)

In [9]:
list3[0]

'cake'

In [10]:
list3[-1]

'apple'

In [12]:
list3[0] = "applecake"

In [13]:
list3[0]

'applecake'

In [14]:
list3[6] = 8

IndexError: list assignment index out of range

In [16]:
list1.append("fourth")
list1

['first', 'second', 'third', 'fourth', 'fourth']

In [17]:
list1.insert(0, 'zeroth')
print list1

['zeroth', 'first', 'second', 'third', 'fourth', 'fourth']

In [20]:
list1.insert(0, [3,4,5])
list1

[[3, 4, 5],
 [3, 4, 5],
 'zeroth',
 'first',
 'second',
 'third',
 'fourth',
 'fourth']

In [21]:
del(list1[2])
print(list1)

[[3, 4, 5], [3, 4, 5], 'first', 'second', 'third', 'fourth', 'fourth']

In [24]:
list1.pop(0)
print(list1)

[[3, 4, 5], 'first', 'second', 'third']

In [25]:
list1 + list2

[[3, 4, 5], 'first', 'second', 'third', 1.0, 2, 3]

In [26]:
list2 * 4

[1.0, 2, 3, 1.0, 2, 3, 1.0, 2, 3, 1.0, 2, 3]

In [28]:
list3

['applecake', 4, 7.9, 'apple']

In [30]:
list3 = list1
list3

[[3, 4, 5], 'first', 'second', 'third']

In [31]:
list1.append(0)
list3

[[3, 4, 5], 'first', 'second', 'third', 0]

In [35]:
list4 = list3[0:3]
list4

[[3, 4, 5], 'first', 'second']

In [39]:
list5 = list3[0:-1:2]
print(list3)
print(list5)

[[3, 4, 5], 'first', 'second', 'third', 0]
[[3, 4, 5], 'second']

In [43]:
range(3,8,1.5)

TypeError: range() integer step argument expected, got float.

In [46]:
list3[1]
list3[0]

[3, 4, 5]

In [52]:
tutors = ["Joe", "Dimitris", "Fabian", "Lea"]
for i in tutors:
    print(len(i))

3
8
6
3

In [54]:
tutors
len(tutors)

4

In [57]:
for i in range(4):
    print("i=",i)
    print(len(tutors[i]))

('i=', 0)
3
('i=', 1)
8
('i=', 2)
6
('i=', 3)
3

In [60]:
for index, name in enumerate(tutors):
    print index, name

0 Joe
1 Dimitris
2 Fabian
3 Lea

In [63]:
for x in xrange(7):
    print x
print xrange(7)
print range(7)

0
1
2
3
4
5
6
xrange(7)
[0, 1, 2, 3, 4, 5, 6]

In [66]:
for name in tutors:
    if 'a' in name:
        print(name)
    elif 'b' in name:
        print(name, "this name has a 'b'")
    else:
        print("no 'a' in here")

no 'a' in here
no 'a' in here
Fabian
Lea

In [67]:
for name in tutors:
    if 'a' in name and 'b' in name:
        print name

Fabian

In [69]:
for name in tutors:
    if len(name) > 3:
        print name
    else:
        print "too short"

too short
Dimitris
Fabian
too short

comparison operators: <, >, ==, <=, >=

In [72]:
alltutors = ["Joe", "Fabian", 'Lea', "Peter", "Chris", "Dimitris"]
for name in alltutors:
    if name in tutors:
        print "is indeed a tutor"

is indeed a tutor
is indeed a tutor
is indeed a tutor
is indeed a tutor
tutors on Monday ['Joe', 'Dimitris', 'Fabian', 'Lea']

In [75]:
tutors_with_e = [tutor for tutor in alltutors if 'e' in tutor]

tutors_with_e2 = []
for tutor in alltutors:
    if 'e' is not in tutor:
        tutors_with_e2.append(tutor)

['Joe', 'Lea', 'peter']
['Joe', 'Lea', 'peter']

SyntaxError: invalid syntax (<ipython-input-76-e4e3d338c3d7>, line 1)