## Basics

In [1]:
print('HelloooOoOooo World!')

help(sum)

HelloooOoOooo World!
Help on built-in function sum in module __builtin__:

sum(...)
    sum(sequence[, start]) -> value

    Return the sum of a sequence of numbers (NOT strings) plus the value
    of parameter 'start' (which defaults to 0).  When the sequence is
    empty, return start.

In [2]:
2+6

8

In [3]:
5/2

2

In [4]:
5//2

2

In [5]:
(50-3*7)/8

3

In [6]:
width  = 20

In [7]:
pi = 3.14

In [8]:
message = 'I have bad feeling about this'

In [9]:
x = y = z = 10

In [10]:
x

10

In [11]:
y

10

In [12]:
# p

In [13]:
height = 10

In [14]:
width * height

200

In [15]:
abs(-41)

41

In [16]:
abs?

In [17]:
def area(width, height):
    '''Calculates the area of a rectangle'''
    return width * height

In [18]:
area (10,46)

460

In [19]:
help(area)

Help on function area in module __main__:

area(width, height)
    Calculates the area of a rectangle

In [20]:
# n = 50 - 4*7)4

In [21]:
n = 0

In [22]:
# 1/n

In [23]:
even_number = 57

In [24]:
a = 10

In [25]:
b = 20.0

In [26]:
c = 'oh yeah'

In [27]:
type(a)

int

In [28]:
type(b)

float

In [29]:
type(c)

str

In [30]:
a + b

30.0

In [31]:
# a + c

In [32]:
import math

In [33]:
math.sqrt(3)

1.7320508075688772

In [34]:
from math import sqrt

In [35]:
sqrt(5)

2.23606797749979

In [36]:
from math import*

In [37]:
sqrt?

In [38]:
from numpy import *

In [39]:
sqrt?

In [40]:
import numpy as np

In [41]:
from math import *

In [42]:
sqrt?

In [43]:
np.sqrt?

In [44]:
def celsius2fahrenheit(celsius):
    '''Converts celsius to Fahrenheit'''
    return celsius * (9/5) + 32

In [45]:
celsius2fahrenheit(36.6)

68.6

In [46]:
def pound2kilogram(lb):
    '''Converts pounds to kilograms'''
    return lb / 2.2046

In [47]:
pound2kilogram(76)

34.473373854667514

In [48]:
'doesn\'t'

"doesn't"

In [49]:
hello = 'This is a rather long string containing\n several lines of text just as you would do in C. \n         Whitespace at beginning of the line is  significant.'

In [50]:
print(hello)

This is a rather long string containing
 several lines of text just as you would do in C.
         Whitespace at beginning of the line is  significant.

In [51]:
a = 'caretta'

In [52]:
b = ' caretta'

In [53]:
len(a)

7

In [54]:
len(b)

8

In [55]:
a + b

'caretta caretta'

In [56]:
word = 'Help'

In [57]:
word[1]

'e'

In [58]:
word[0:2]

'He'

In [59]:
word[-1]

'p'

In [60]:
# word[0] = 'P'

In [61]:
list1 = ['one','two','three']

In [62]:
list2 = [1,2,3]

In [63]:
emptyList = []

## Lists

In [64]:
list1 = ["first", "second", "third"]

In [65]:
list2 = list((1.0,2,3))

In [66]:
print(list1)
print(list2)

['first', 'second', 'third']
[1.0, 2, 3]

In [67]:
list3 = ['cake', 4, 7.9, "apple"]

In [68]:
list4 = (1,2,3)

In [69]:
list3[0]

'cake'

In [70]:
list3[-1]

'apple'

In [71]:
list3[0] = "applecake"

In [72]:
list3[0]

'applecake'

In [74]:
# index out of range
# list3[6] = 8

In [75]:
list1.append("fourth")
list1

['first', 'second', 'third', 'fourth']

In [76]:
list1.insert(0, 'zeroth')
print list1

['zeroth', 'first', 'second', 'third', 'fourth']

In [77]:
list1.insert(0, [3,4,5])
list1

[[3, 4, 5], 'zeroth', 'first', 'second', 'third', 'fourth']

In [78]:
del(list1[2])
print(list1)

[[3, 4, 5], 'zeroth', 'second', 'third', 'fourth']

In [79]:
list1.pop(0)
print(list1)

['zeroth', 'second', 'third', 'fourth']

In [80]:
list1 + list2

['zeroth', 'second', 'third', 'fourth', 1.0, 2, 3]

In [81]:
list2 * 4

[1.0, 2, 3, 1.0, 2, 3, 1.0, 2, 3, 1.0, 2, 3]

In [82]:
list3

['applecake', 4, 7.9, 'apple']

In [83]:
list3 = list1
list3

['zeroth', 'second', 'third', 'fourth']

In [84]:
list1.append(0)
list3

['zeroth', 'second', 'third', 'fourth', 0]

In [85]:
list4 = list3[0:3]
list4

['zeroth', 'second', 'third']

In [86]:
list5 = list3[0:-1:2]
print(list3)
print(list5)

['zeroth', 'second', 'third', 'fourth', 0]
['zeroth', 'third']

In [88]:
# range() integer step argument expected, got float.
# range(3,8,1.5)

In [89]:
list3[1]
list3[0]

'zeroth'

In [90]:
tutors = ["Joe", "Dimitris", "Fabian", "Lea"]
for i in tutors:
    print(len(i))

3
8
6
3

In [91]:
tutors
len(tutors)

4

In [92]:
for i in range(4):
    print("i=",i)
    print(len(tutors[i]))

('i=', 0)
3
('i=', 1)
8
('i=', 2)
6
('i=', 3)
3

In [93]:
for index, name in enumerate(tutors):
    print index, name

0 Joe
1 Dimitris
2 Fabian
3 Lea

In [94]:
for x in xrange(7):
    print x
print xrange(7)
print range(7)

0
1
2
3
4
5
6
xrange(7)
[0, 1, 2, 3, 4, 5, 6]

In [95]:
for name in tutors:
    if 'a' in name:
        print(name)
    elif 'b' in name:
        print(name, "this name has a 'b'")
    else:
        print("no 'a' in here")

no 'a' in here
no 'a' in here
Fabian
Lea

In [96]:
for name in tutors:
    if 'a' in name and 'b' in name:
        print name

Fabian

In [97]:
for name in tutors:
    if len(name) > 3:
        print name
    else:
        print "too short"

too short
Dimitris
Fabian
too short

comparison operators: <, >, ==, <=, >=

In [98]:
alltutors = ["Joe", "Fabian", 'Lea', "Peter", "Chris", "Dimitris"]
for name in alltutors:
    if name in tutors:
        print "is indeed a tutor"

is indeed a tutor
is indeed a tutor
is indeed a tutor
is indeed a tutor

In [99]:
tutors_with_e = [tutor for tutor in alltutors if 'e' in tutor]

tutors_with_e2 = []
for tutor in alltutors:
    if 'e' is not in tutor:
        tutors_with_e2.append(tutor)

SyntaxError: invalid syntax (<ipython-input-99-1aac4dc8837f>, line 5)